.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal_body {
  margin-top: 10px;
}
